<li id="post-<%=i._id%>">
<p>
    <%if(locals.user && locals.user.id == i.user.id){ %>  
    <small>
            <a class="delete-post-button" href="/posts/destroy/<%= i._id%>"><i class="fas fa-trash-alt"></i></a>

    </small>
    <%}%>
    
    <%=i.content%>
        <%if(locals.user){%>
        <small>
        <a class="like-post-button" data-likes ="<%=i.likes.length%>" href="/likes/toggle/?id=<%=i._id%>&type=Post"><i class="fas fa-thumbs-up"></i>
        <%=i.likes.length%>
        
        </a>
        <%}else{%>
            <%=i.likes.length%><i class="fas fa-thumbs-up"></i>

        <%}%>
    
        </small>
        
    <br>
    <small>
            <%=i.user.name%>        
    </small>
    </p>
<div class="post-comments">
    <%if(locals.user){%>
    <form action ='/comments/create' id = "new-comment-form" method="POST">
            <input type ="text" name = "content" placholder="Type here to add Comment" required>
            <input type="hidden" name="postid" value="<%=i._id%>">
            <input type="submit" value="Add Comment">
            
    </form>
    <%}%>

<div id = "post-comments-lists">
    <ul>
            
            <% for (comment of i.comments){%>
                   <%-include('_comment')-%>
            <%}%>
            
    
    </ul>
    
</div>
</div>
</li>
