<html>
    <head>
        <title>
            <%= title%>
        </title>
        <link rel="stylesheet" href="/css/layouts.css">
        <%- style -%>
    </head>
    <body>
    <%- include('_header.js'); -%>

        <%- body %>

        <%- script -%>
    <%- include('_footer.js'); -%>
    </body>

</html>