<html>
    <head>
        <title>
            <%= title%>
        </title>
        <link rel="stylesheet" href="/css/layouts.css">
        <%- style -%>
    </head>
    <body>
    <%- include('_header.ejs'); -%>
        <main id= 'layout-main'>
            <%- body %>
        </main>
    <%- script -%>
    <%- include('_footer.ejs'); -%>
    </body>

</html>